<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-title>Gerenciador de pets e cuidadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Lista de Pets</h2>
  <ion-list>
    <ion-item *ngIf="pets.length === 0">
      <ion-label>Nenhum pet cadastrado</ion-label>
    </ion-item>

    <ion-item *ngFor="let pet of pets" lines="full">
      <ion-label>
        <h1>{{pet.name}} - {{pet.age}} anos</h1>
        <h2>{{pet.especie}} - {{pet.race}}</h2>
        <p>{{pet.obs}}</p>
      </ion-label>

      <ion-buttons slot="end">
                <ion-button  (click)="editarPet(pet)">
          <ion-icon color="primary" name="create"></ion-icon>
        </ion-button>
        <ion-button  (click)="deletarPet(pet.id!)">
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <br>
      <ion-button color="success" (click)="adicionarPet()">
        Adicionar pet
      </ion-button>

  <h2>Lista de Cuidadores</h2>
  <ion-list>
    <ion-item *ngIf="cuidadores.length === 0">
      <ion-label>Nenhum cuidador cadastrado</ion-label>
    </ion-item>

    <ion-item *ngFor="let cuidador of cuidadores" lines="full">
      <ion-label>
        <h1>{{cuidador.name}} - ({{cuidador.phone}})</h1>
        <h2>{{cuidador.experience}} anos de experiência</h2>
        <p>Especialidade: {{cuidador.specialty}}</p>
      </ion-label>

      <ion-buttons slot="end">
                <ion-button (click)="editarCuidador(cuidador)">
          <ion-icon color="primary" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="deletarCuidador(cuidador.id!)">
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
<br>
  <div>


      <ion-button color="success" (click)="adicionarCuidador()">
        Adicionar cuidador
      </ion-button>
  </div>
</ion-content>
